# Virtual Environment
venv-jupiter/
venv/
pyvenv.cfg
.venv

# IntelliJ / PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data Lake (Raw & Processed)
data/

# Environment Variablen
.env