# Virtual Environment
venv-jupiter/
venv/
pyvenv.cfg

# IntelliJ / PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Daten / große Files
*.csv
*.tsv
*.parquet

# Environment Variablen
.env